@model Bootcamp.MVC.NET.Models.Entities.User
@{
  ViewData["Title"] = "Create User";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<form action="InputData" method="post">
  <div class="mb-3">
    <label for="" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" asp-for="Username" value="@Model.Username">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" asp-for="Password" value="@Model.Password">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Tipe</label>
    @* <input type="text" class="form-control" id="tipe" asp-for="Tipe" value="@Model.Tipe"> *@
    <select class="form-select" id="tipe" asp-for="Tipe" selected="@Model.Tipe">
      <option value="penjual">Penjual</option>
      <option value="pembeli">Pembeli</option>
    </select>
  </div>
  <input type="hidden" asp-for="Id">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
