@model Bootcamp.MVC.NET.Models.Entities.Barang
@{
  ViewData["Title"] = "Edit Data Produk";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<form action="EditData" method="post">
  <div class="mb-3">
    <label for="" class="form-label">Kode Produk</label>
    <input type="text" class="form-control" id="kodeproduk" asp-for="Kode" value="@Model.Kode">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Nama Produk</label>
    <input type="text" class="form-control" id="namaproduk" asp-for="Nama" value="@Model.Nama">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Harga Produk</label>
    <input type="text" class="form-control" id="hargaproduk" asp-for="Harga" value="@Model.Harga">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Banyak Stok</label>
    <input type="text" class="form-control" id="banyakstok" asp-for="Stok" value="@Model.Stok">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Deskripsi Produk</label>
    <input type="text" class="form-control" id="deskripsiproduk" asp-for="Description" value="@Model.Description">
  </div>
  <input type="hidden" asp-for="Id">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
